.footer {
    background-color: var(--color-white);
    padding-top: 32px;
    padding-bottom: 32px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;

}

.footer-left {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
}

.footer-menu-list {
    display: flex;
    gap: 16px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-menu-link {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 12px;
    line-height: 18px;
    color: var(--color-dark);
    white-space: nowrap;
}

.footer-menu-link:hover {
    color: var(--color-purple);
}

.footer-socials {
    display: flex;
    gap: 12px;
    align-items: center;
}

.footer-social-link img {
    width: 24px;
    height: 24px;
}

.footer-right {
    flex: 1;
    min-width: 0;
    text-align: right;
    padding-top: 10px;
}

.footer-credits {
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-bottom: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer-credits a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    padding-top: 32px;
}

.footer-credits a:hover {
    color: var(--color-purple);
}

.footer-made {
    font-size: 14px;
    line-height: 20px;
    color: var(--color-dark);
    margin: 0;
    white-space: nowrap;
}

.footer-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}