.button {
    display: inline-flex;
    height: 50px;
    padding: 16px 24px 16px 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
    letter-spacing: 0%;
    color: var(--color-white);
    background-color: var(--color-purple);
    border: none;
    border-radius: 30px;
}

.button:hover {
    background-color: rgba(8, 30, 52, 0.12);
    color: var(--color-purple);
}

.header-button:hover {
    background-color: var(--color-purple);
    color: var(--color-white);
}

.header-button {
    padding: 10px 12px 10px 12px;
    height: 38px;
    color: var(--color-dark);
    background-color: rgba(8, 30, 52, 0.12);
    border: none;
}

a {
    color: var(--color-dark);
}

a:hover {
    color: var(--color-purple);
}

.header {
    padding-top: 12px;
}

.header .container {
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.header-menu-list {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.header-logo {
    flex-shrink: 0;
}

.header-menu-link {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0%;
    padding: 10px 12px 10px 12px;
    line-height: 18px;
}