.banner {
    padding-top: 127px;
    padding-bottom: 127px;

}

.banner .container {
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: clamp(30px, 11.42vw, 165px);
}

.banner-body {
    flex: 1;
}

.banner-info {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    padding-top: 32px;
    padding-bottom: 48px;
    max-width: 480px;
}

.visual-banner {
    flex: 1;
    display: flex;
    justify-content: flex-end;

}

.visual-content {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.banner-title {
    font-family: var(--font-family-accent);
    font-size: 54px;
}

.path {
    background-color: var(--color-purple-light);
    border-radius: 32px;
    padding-top: 100px;
    padding-bottom: 100px;


}

.question-info {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;

}

.question {
    text-align: center;
    font-family: var(--font-family-accent);
    font-size: 54px;
}

.path-content {
    display: flex;
    justify-content: flex-start;
    gap: 40px;

}


.path-image {
    padding-right: 80px;
    padding-top: 85px;
    padding-left: 20px;
}

.path-title {
    font-family: var(--font-family-base);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding-top: 48px;
}

.path-info {
    font-family: var(--font-family-base);
    font-size: 16px;
    line-height: 22px;
    padding-top: 24px;
}


.started {
    padding-top: 100px;
    padding-bottom: 100px;
}

.started .container {
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 80px;
}

.started-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.started-title {
    font-family: var(--font-family-accent);
    font-size: 54px;
    margin-bottom: 0;
}

.started-info {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 480px;
}

.search-form {
    display: flex;
    gap: 12px;
    width: 100%;
    max-width: 720px;
}

.search-wrapper {
    position: relative;
    flex: 1;
    max-width: 620px;
}

.search-job {
    border-radius: 12px;
    width: 100%;
    height: 50px;
    border: solid 1px #E1DEE7;
    padding-left: 50px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 24px;
    pointer-events: none;
}

.search-job::placeholder {
    opacity: 0.20;
}

.search-button {
    flex-shrink: 0;
}


.upload-content {
    padding-top: 65px;
    padding-bottom: 65px;
}

.upload-content .container {
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(30px, 11.42vw, 165px);
}

.visual-banner-upload {
    flex-shrink: 0;
    max-width: 619px;
}

.visual-content-upload {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.upload-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.upload-title {
    font-family: var(--font-family-accent);
    font-size: 54px;
    margin-bottom: 0;
}

.upload-info {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    padding-top: 32px;
    padding-bottom: 32px;
}

.upload-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding-left: 16px;
}